**/*.log
**/._*
**/.DS_Store
**/.gitattributes
**/.github
**/Thumbs.db
**/build-results
**/build
**/.vscode
.dockerignore
.gitignore
box-img-lg.png
box-img-sm.png
Dockerfile
docker-compose.yaml
truffle-box.json
